<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key ="LoginPageURL" value ="~/Denver/LoginPage.aspx"/>
    <add key ="NewLeagueRegisterURL" value ="~/Denver/Users/Profile.aspx"/>
    <add key ="PublicProfilePath" value ="~/Denver/Users/PublicProfile.aspx"/>
    <add key ="City" value ="Denver"/>
    <add key="SuccessPageURL" value="~/Denver/LoginPage.aspx"/>
    <add key="PhotoUploadNavigateURL" value="~/Denver/Users/UploadImage.aspx" />
    <add key="LeagueCityId" value ="1"/>
    <add key="MatchRequestPath" value ="~/Denver/Users/Calendar.aspx"/>
    <add key ="GeoRSSPath" value ="/Courts/Denver.xml"/>
    <add key="TennisCourtMapLabelText" value ="Interactive map of all Denver Tennis courts."/>
    <add key="TennisCourtGridLabelText" value ="Details of all the Denver Tennis courts. View court information and get driving directions."/>
    <add key ="PasswordRecoveryURL" value ="~/Denver/RecoverPassword.aspx"/>
    <add key ="PasswordRecoverySuccessURL" value ="~/Denver/LoginPage.aspx"/>
    <add key ="EditMessagePath" value ="~/Denver/Users/EditPost.aspx"/>
    <add key ="MessagePath" value ="~/Denver/Users/Messages.aspx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>

  </system.web>
</configuration>
