<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key ="LoginPageURL" value ="~/LosAngeles/LoginPage.aspx"/>
    <add key ="NewLeagueRegisterURL" value ="~/LosAngeles/Users/Profile.aspx"/>
    <add key ="PublicProfilePath" value ="~/LosAngeles/Users/PublicProfile.aspx"/>
    <add key ="City" value ="LosAngeles"/>
    <add key="SuccessPageURL" value="~/LosAngeles/LoginPage.aspx"/>
    <add key="PhotoUploadNavigateURL" value="~/LosAngeles/Users/UploadImage.aspx" />
    <add key="LeagueCityId" value ="3"/>
    <add key="MatchRequestPath" value ="~/LosAngeles/Users/Calendar.aspx"/>
    <add key ="GeoRSSPath" value ="/Courts/LosAngeles.xml"/>
    <add key="TennisCourtMapLabelText" value ="Interactive map of all Los Angeles Tennis courts."/>
    <add key="TennisCourtGridLabelText" value ="Details of all the Los Angeles Tennis courts. View court information and get driving directions."/>
    <add key ="PasswordRecoveryURL" value ="~/LosAngeles/RecoverPassword.aspx"/>
    <add key ="PasswordRecoverySuccessURL" value ="~/LosAngeles/LoginPage.aspx"/>
    <add key ="EditMessagePath" value ="~/LosAngeles/Users/EditPost.aspx"/>
    <add key ="MessagePath" value ="~/LosAngeles/Users/Messages.aspx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>

  </system.web>
</configuration>
