<?xml version="1.0"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings>
    <add key ="LoginPageURL" value ="~/Atlanta/LoginPage.aspx"/>
    <add key ="NewLeagueRegisterURL" value ="~/Atlanta/Users/Profile.aspx"/>
    <add key ="PublicProfilePath" value ="~/Atlanta/Users/PublicProfile.aspx"/>
    <add key ="City" value ="Atlanta"/>
    <add key="SuccessPageURL" value="~/Atlanta/LoginPage.aspx"/>
    <add key="PhotoUploadNavigateURL" value="~/Atlanta/Users/UploadImage.aspx" />
    <add key="LeagueCityId" value ="4"/>
    <add key="MatchRequestPath" value ="~/Atlanta/Users/Calendar.aspx"/>
    <add key ="GeoRSSPath" value ="/Courts/Atlanta.xml"/>
    <add key="TennisCourtMapLabelText" value ="Interactive map of all Atlanta Tennis courts."/>
    <add key="TennisCourtGridLabelText" value ="Details of all the Atlanta Tennis courts. View court information and get driving directions."/>
    <add key ="PasswordRecoveryURL" value ="~/Atlanta/RecoverPassword.aspx"/>
    <add key ="PasswordRecoverySuccessURL" value ="~/Atlanta/LoginPage.aspx"/>
    <add key ="EditMessagePath" value ="~/Atlanta/Users/EditPost.aspx"/>
    <add key ="MessagePath" value ="~/Atlanta/Users/Messages.aspx"/>
  </appSettings>
  <connectionStrings/>
  <system.web>

  </system.web>
</configuration>
